body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    background-color: #f2f2f2;
}

.button-cell {
    text-align: center;
}

.add-button, .edit-button, .delete-button {
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.add-button {
    background-color: rgb(120, 211, 120);
}

.edit-button {
    background-color: #ffe552; /* Amarelo Claro */
    color: black;
    margin-left: 10px;
}

.delete-button {
    background-color: #dd5454; /* Vermelho Claro */
    margin-left: 10px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input, .modal-content select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.modal-content button {
    color: white;
    background-color: rgb(120, 211, 120);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .add-button {
    background-color: rgb(120, 211, 120);
}

.modal-content .edit-button {
    background-color: #ffe552;
    color: black;
}

.modal-content .delete-button {
    background-color: #dd5454;
    color: white;
}
